<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgjCRmjPK4ReuaDUSxgrYsiXXB4p4CvSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>168365390233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xipper.app</string>
	<key>PROJECT_ID</key>
	<string>xipper-48e24</string>
	<key>STORAGE_BUCKET</key>
	<string>xipper-48e24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168365390233:ios:c8fde441e9a73012257b08</string>
</dict>
</plist>